.element__delete-button {
  background-image: url(../../../images/deleteBtn.svg);
  border: none;
  padding: 0;
  position: absolute;
  top: 19px;
  right: 18px;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 18px;
  height: 19px;
  transition: opacity 0.5s ease-in;
}

.element__delete-button:hover {
  cursor: pointer;
  opacity: 0.6;
}