.popup__input {
  border: none;
  box-sizing: border-box;
  width: 100%;
  min-height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 28px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.21;
  display: block;
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 575px) {
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}